#clientes{
	padding:0;
}

@media(max-width: 769px){
	body{
		overflow-x: auto;
	}
}

body{overflow-x: hidden;}

.dataTables_length{
	display:None;
}

.dataTables_filter  label{
	margin-right:10px;
	
}

.dataTables_info{
	display:None;
}


.page-item{
	margin-right: 6px;
}

.page-item:last-child{
	margin-left: 6px;
}

.pagination span{
	margin-right: 4px;
}

.container-fluid{
	padding-left: 5px;
}

.dataTables_paginate ul.pagination{
	justify-content: flex-start;
}

#tb_clientes table{
	padding-right: 0px;
	width: 100%;
}

