{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Gps clientes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href='{% static "web/css/bootstrap.min.css" %}'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href='{% static "web/css/main.css" %}'>
	{% block extraHead %}{% endblock extraHead %}
</head>
<body>
	<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">	
		<a class="navbar-brand col-md-4 col-12 offset-md-0 offset-6" href="{% url 'index' %}">
			<img class="mr-2 mb-3" style="width:8rem;height:2rem;" src="{% static 'web/img/logo.png' %}" alt="logo">
			<h4>Gps clientes</h4></a>
		<div class="navbar-nav-scroll col-md-4 col-12 offset-md-0 offset-3">
			<ul class="navbar-nav bd-navbar-nav flex-row">
				<li class="nav-item mr-md-2 {% block activePendientes %}{% endblock activePendientes %}">
					<a class="nav-link " href="{% url 'index' %}">Pendientes</a>
				</li>
				<li class="nav-item {% block activeCompletados %}{% endblock activeCompletados %}">
					<a class="nav-link " href="{% url 'completados' %}">Completados</a>
				</li>
				<li class="nav-item {% block activeMapa %}{% endblock activeMapa %}">
					<a class="nav-link " href="{% url 'ubicados' %}">Ubicados</a>
				</li>		
			</ul>
		</div>
	</header>
	{% block content %}{% endblock content %}
	<script src='{% static "web/js/jquery-3.2.1.min.js" %}'></script>
	<script src='{% static "web/js/popper.min.js" %}'></script>
	<script src='{% static "web/js/bootstrap.min.js" %}'></script>
	{% block extraScripts %}{% endblock extraScripts %}
</body>
</html>