{% extends 'web/base.html' %}
{% block activeCompletados %}active{% endblock activeCompletados %}
{% load staticfiles %}
{% block extraHead %}
  <link rel="stylesheet" href="{% static 'web/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'web/css/toast.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'web/DataTables/datatables.min.css' %}"/>  
  <link rel="stylesheet" type="text/css" href="{% static 'web/DataTables/dataTables.bootstrap4.min.css' %}"/>  
  <link rel="stylesheet" type="text/css" href="{% static 'web/DataTables/responsive.bootstrap4.min.css' %}"/>  
{% endblock extraHead %}
  
{% block content %}
<div class="container-fluid col-12">
      <div class="row">
        <h1 class="text-center col-12 mt-2">Nodos</h1>
          <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3 mx-auto">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <a href="{% url 'index' %}?nodo=101">
                <button type="button" class="btn btn-primary">1A</button>
              </a>
              <a href="{% url 'index' %}?nodo=102">
                <button type="button" class="btn btn-primary">1B</button>
              </a>
              <a href="{% url 'index' %}?nodo=201">
                <button type="button" class="btn btn-primary">2A</button>
              </a>
              <a href="{% url 'index' %}?nodo=202">
                <button type="button" class="btn btn-primary">2B</button>
              </a>
                <div class="btn-group" role="group">            
                  <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Más
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=301">3</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=401">4</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=501">5</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=601">6</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=701">7</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=801">8</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=901">9</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1001">10A</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1002">10B</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1101">11</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1201">12</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1301">13</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1401">14A</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1402">14B</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1501">15</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1601">16</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1701">17</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1801">18</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=1901">19</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2001">20</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2101">21</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2201">22</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2301">23</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2401">24</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2501">25</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2601">26</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2701">27</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2801">28</a>
                    <a class="dropdown-item" href="{% url 'index' %}?nodo=2901">29</a>
                  </div>
                </div>
            </div>
          </nav> 
          <div class="col col-sm-9 offset-md-4 offset-1 mt-3 mb-3">
              <h1 id="titulo">Clientes Completados ({{cant_comp}} de {{total}})</h1>
          </div>
      </div>
      <div class="row">
        <form method="post" id="clientes" class="col-12" action="">
        {% csrf_token %}
            <div class="table-responsive">
              <table style="padding-left:5px;" id="tb_clientes_completados" class="table table-hover">
                  <thead class="thead-dark ">
                      <tr>
                        <th style="width:10%;" data-field="clientenro">Número de cliente</th>
                        <th style="width:20%;" data-field="nombre">Nombre</th> 
                        <th style="width:50%;" data-field="direccion">Dirección</th>
                        <th style="width:20%;" data-field="posicion">Posición</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for cliente in clientes %}
                          <tr>
                              <td >{{cliente.clientenro}}</td>
                              <td >{{cliente.nombre}}</td>
                              <td >{{cliente.direccion}}</td>
                              <td ><button value="{{cliente.clientenro}}" id="{{cliente.clientenro}}" type="button" class="btn btn-primary">Obtener Posición</button></td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
      </form>
    </div>
    
</div>
<div id="snackbar">Dirección guardada correctamente</div>
{% endblock content %}
{% block extraScripts %}
  <script type="text/javascript" charset="utf8" src="{% static 'web/DataTables/datatables.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'web/DataTables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'web/DataTables/dataTables.bootstrap4.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'web/DataTables/dataTables.responsive.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'web/DataTables/responsive.bootstrap4.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'web/js/proj4.js' %}"></script>
	<script> 

    $(document).ready(function(){
      var nodo = getUrlParameter('nodo');
      $('#tb_clientes_completados').DataTable( 
        {
          "drawCallback": function(settings, json) {
            $(".btn").addClass("btn-primary");
            var filtrados = settings.json.recordsFiltered.toString();
            var total = settings.json.recordsTotal.toString();
            $("#titulo").text("Clientes pendientes("  + filtrados + " de " + total + ")" );
          },
          "language": {
            "paginate": {
              "previous": "Anterior",
              "next": "Siguiente",
              "last": "Último",
              "first": "1"
            },
            "search": "Buscar",
            "emptyTable": "No se encontraron registros",
            "zeroRecords": "No se encontraron registros"
          },
          "processing": true,
          "serverSide": true,
          "orderable": false,
          "pagingType": "full",
          "ajax": "/web/table_completados/",
          "data": {"nodo": nodo}
        });

      $('#tb_clientes_completados').on('click', '.btn', function(){
        var clientenro = $(this).val();
        var position = getLocation(clientenro);

      });

      function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1));
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
      };
   
		function getLocation(clientenro) {
        var clientenro = clientenro;
    		if (navigator.geolocation) {
    			var options = {
					enableHighAccuracy : true,
					timeout : 10000,
					maximumAge : 0
				}
        navigator.geolocation.getCurrentPosition(success,error, options);
        		
		  }

      function success(pos){
        var lat = pos.coords.latitude;
        var long = pos.coords.longitude;
        var precision = pos.coords.accuracy;
        getPosition(lat, long, precision);
      }

      function getPosition(lat, long, precision){
        var proj_from = proj4('EPSG:4326');
        var proj_to = proj4('EPSG:22172');
        var lat_lon_utm = proj4(proj_from, proj_to, [long, lat]);
        $.post('/web/position/', {"latitud": lat_lon_utm[0], "longitud": lat_lon_utm[1], "clientenro": clientenro, "precision": precision})  
          .done(toast());
          setTimeout(function(){ location.reload(); }, 5000);
      }

      function error(error){
        switch(error.code) {
          case error.PERMISSION_DENIED:
            alert("Debe activar la ubicación gps");
            break;
          case error.POSITION_UNAVAILABLE:
            alert("Información de ubicación no disponible");
            break;
          case error.TIMEOUT:
            alert("La petición expiro por timeout");
            break;
          case error.UNKNOWN_ERROR:
            alert("Un error desconocido ha occurrido");
            break;
        }
      }
    }
    
  function toast() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar");
    // Add the "show" class to DIV
    x.className = "show";
    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 6000);
  }
    
  function getCookie(c_name) {
      if(document.cookie.length > 0) {
          c_start = document.cookie.indexOf(c_name + "=");
          if(c_start != -1) {
              c_start = c_start + c_name.length + 1;
              c_end = document.cookie.indexOf(";", c_start);
              if(c_end == -1) c_end = document.cookie.length;
              return unescape(document.cookie.substring(c_start,c_end));
          }
      }
      return "";
  }

  $(function() {
      $.ajaxSetup({
          headers: {
              "X-CSRFToken": getCookie("csrftoken")
          }
      });
  });

  });

  </script>
{% endblock extraScripts %}